{% extends "layouts/base.twig" %}

{% block content %}

    <div class="barba-container" data-namespace="homepage">
        <h1>About Page</h1><br><br>

        Go to <a href="/">HOME</a>
    </div>

{% endblock %}


