{% extends "layouts/base.twig" %}

{% block content %}

    <div class="barba-container" data-namespace="homepage">
        <h1>Home Page</h1><br><br>

        Go to <a href="/about/">ABOUT</a>
    </div>

{% endblock %}


